html
{
	text-align: justify;
	font-family: sans-serif;
	font-size: small;
	background-color: #f4f5c8;
}

#drapeau
{
	list-style-type: none;
	margin-left: 63em;
	margin-top: -11em;
	background-attachment:fixed;
}

#drapeau li
{
	padding-top: 10px;
}

#drapeau img
{
	width: 30px;
	height: 20px;
}

#page 
{
	width: 900px;
	height: 100%;
	margin: auto;
}

#banniere
{
	width: 100%;
	height: 100%;
	text-align: center;
}

#menu_vis
{
	width: 100%;
	list-style-type: none;
	margin: 0;
	margin-top: -3em;
	padding: 0;
	text-align: center;
}

#menu_vis li
{
	float: left;
	width: 150px;
}

#menu_vis li a:link, #menu_vis li a:visited 
{
 	display:block;
 	color:#f4f5c8;
 	background-color:#cd1b1b;
	margin:0;
 	padding:5px 5px;
 	border:0;
 	text-decoration:none;
}

#menu_vis li a:hover
{
 	display:block;
 	color:#cd1b1b;
 	background-color:#f5dfc8;
	margin:0;
 	padding:5px 5px;
 	border:0;
 	text-decoration:none;
}

#corps
{
	width:100%;
	height:100%;
	margin-top:7em;
	-moz-border-radius:10px;
	background-color:#edef9c;
	box-shadow:0px 0px 23px #cacc7b;
	padding-top:5em;
}

#contenu
{
	background-color: #f6f4ca;
	margin-right: 1em;
	margin-left: 1em;
	padding-left: 10px;
	padding-right: 10px;
	padding-bottom: 1em;
}

#contenu p
{
	text-indent: 2em;
}


h1
{
	text-align: center;
	margin-top: 2em;
	padding-top: 1em;
}

hr
{
	width: 50%;
}

#footer
{
	width: 100%;
	list-style-type: none;
	text-align: center;
	margin-bottom: 1em;
	padding:0;
}

#footer li
{
	display: inline;
	width: 150px;
}

#footer li a:link, #footer li a:visited
{
	text-decoration: none;
	color:#cd1b1b;
}